In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
titanic_df = pd.read_csv("data/titanic.csv")

In [ ]:
titanic_df.shape

In [ ]:
titanic_df.info()

In [ ]:
"""
PassengerId
Pclass 티켓 클래스
Name
Sex
Age
SibSp # 함께 탑승한 형재자매, 배우자
Parch # 함께 탑승한 부모, 자녀
Ticket
Fare 
Cabin # 객실 번호
Embarked #승선 항
"""

In [ ]:
titanic_df.describe()

In [ ]:
titanic_df.describe(include='all')

In [ ]:
categorical_val = ['Sex', 'Ticket', 'Cabin', 'Embarked']

In [ ]:
for val in categorical_val:
    print(titanic_df[val].value_counts())
    print()

In [ ]:
numeric_val = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [ ]:
for val in numeric_val:
    print(titanic_df[val].agg(['mean', 'max', 'min']))
    print()

In [ ]:
categorical_val = ['Sex', 'Embarked']
numeric_val = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
for c_val in categorical_val:
    for n_val in numeric_val:
        print(f"groupby: {c_val}, statistics: {n_val}")
        print(titanic_df.groupby(c_val)[n_val].agg(['mean', 'max', 'min']))
        print()

In [ ]:
def auto_eda(df, group_col, target_col, **kwargs):
    print(f"{group_col} 별 {target_col} 통계")
    print(df.groupby(group_col)[target_col].describe())

    normalize = kwargs.get('normalize', False)

    print("\nValue Counts" + (" (비율)" if normalize else " (빈도)"))
    grouped = df.groupby(group_col)[target_col]

    if normalize:
        result = grouped.apply(lambda x: x.value_counts(normalize=True))
    else:
        result = grouped.value_counts()

    print(result)

In [ ]:
auto_eda(titanic_df, 'Pclass', 'Survived')

In [ ]:
auto_eda(titanic_df, 'Sex', 'Survived')

In [ ]:
# 사용 예시1
# 남녀의 요금은 비슷한가?
auto_eda(titanic_df, 'Sex', 'Fare')

In [ ]:
#평균적으로 여성의 요금이 더 높음

In [ ]:
#시각화로 확인
plt.figure(figsize=(8,6))
sns.boxplot(data=titanic_df, x='Sex', y='Fare')
plt.show()

In [ ]:
# 사용 예시2-1
# 가족단위로 탑승한 사람들이 가장 많은 항구는 어디인가?
auto_eda(titanic_df, 'Parch', 'Embarked')

In [ ]:
# 사용 예시2-2
# 가족단위로 탑승한 사람들이 가장 많은 항구는 어디인가?
# 비율로 보는게 편함
auto_eda(titanic_df, 'Parch', 'Embarked', normalize=True)