In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
titanic_df = sns.load_dataset("titanic")

In [ ]:
titanic_df.info()

In [ ]:
categorical_val = ['sex', 'class', 'embarked', 'who', 'deck', 'alone']
numerical_val = ['age', 'fare', 'sibsp', 'parch']

In [ ]:
#범주형 변수별 비율
for val in categorical_val:
    titanic_df[val].value_counts(normalize=True).plot(kind='bar')
    plt.show()

In [ ]:
# 범주형 변수 시각화(survived 기준)
for val in categorical_val:
    plt.figure()
    sns.countplot(data=titanic_df, x=val, hue='survived')
    plt.title(f'{val.capitalize()} distribution')
    plt.show()

In [ ]:
# 수치형 변수 시각화(분포)
for val in numerical_val:
    plt.figure()
    sns.histplot(data=titanic_df, x=val, kde=True)
    plt.title(f'{val.capitalize()} distribution')
    plt.show()

In [ ]:
# 수치형 변수 시각화(survived 기준)
for val in numerical_val:
    plt.figure()
    sns.violinplot(data=titanic_df, x='survived', y=val)
    plt.title(f'{val.capitalize()} distribution (survived)')
    plt.show()

In [ ]:
# 수치형 변수 이상치 확인
for val in numerical_val:
    plt.figure()
    sns.boxplot(data=titanic_df, x=val)
    plt.title(f'{val.capitalize()} boxplot')
    plt.show()

In [ ]:
# 변수간의 관계
sns.pairplot(titanic_df[['survived'] + numerical_val], hue='survived', diag_kind='kde')
plt.suptitle('Relationship between numerical variables', y=1.0)
plt.tight_layout()
plt.show()

In [ ]:
"""
시각화에서 알수 있는 점
1. 남성이 더 많이 탑승, 여성이 더 많이 생존
2. first 클래스만 생존율이 50% 이상
3. 여성 뿐 아니라 아이들도 50% 이상 생존
4. 2,30 대의 비율이 높음
5. 생존자들의 티겟 가격 평균이 더 높음
"""